/* Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */

@import url(//fonts.googleapis.com/css?family=Ubuntu);
@import url(https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css); /* Default asciidoc style framework - important */

/* CUSTOMISATIONS */
/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */
:root{
--maincolor:#202020;
--primarycolor:#f39c12;
--secondarycolor:#03a9f4;
--tertiarycolor:#4db6ac;
--sidebarbackground:#202020;
--linkcolor:#4db6ac;
--linkcoloralternate:#ff9800;
--white:#FFFFFF;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url(/fonts/JetBrainsMono-Regular.ttf);
}

/* Text styles */

body{font-family: "Ubuntu",sans-serif;background-color: var(--maincolor);color:var(--white);}

h1{color:var(--primarycolor) !important;font-family:"Ubuntu",sans-serif;}
h2,h3,h4,h5,h6{color:var(--secondarycolor) !important;font-family:"Ubuntu",sans-serif;}
.title{color:var(--white) !important;font-family:"Ubuntu",sans-serif;font-style: normal; font-weight: normal;}

p {
  font-family: "Ubuntu",sans-serif ! important;
  text-rendering: optimizeLegibility;
  letter-spacing: normal;
}

strong {
  color: #4db6ac;
}


#toc.toc2 a:link{
  color:var(--linkcolor);
}
blockquote{
  color:var(--tertiarycolor) !important
}

.quoteblock{
  color:var(--white)
}

code{
    color:var(--linkcoloralternate);
    background-color: #282828 !important;
    border-radius: 20px !important; 
    font-family: "JetBrainsMono"; 
    font-feature-settings: "liga" 1;
    font-variant-ligatures: normal;
    text-rendering: optimizeLegibility;
    border-left-color: var(--primarycolor) !important; 
    border-width: 0px;
    border-left-width: 1px;
    border-style: solid;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #282828;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #f39d122c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f39c12;
}


/* Table styles */
th{background-color: var(--maincolor);color:var(--white) !important;}
td{background-color: var(--maincolor);color: var(--linkcoloralternate) !important}


#toc.toc2{background-color:var(--sidebarbackground);}
#toctitle{color:var(--white);}

/* Responsiveness fixes */
video {
  max-width: 100%;
}

@media all and (max-width: 600px) {
  table {
    width: 55vw!important;
    font-size: 3vw;
  }
}

.exampleblock > .content {
  background-color: var(--maincolor);
}

.admonitionblock td.icon .icon-tip::before {
  text-shadow: none;
  color: var(--white);
}
.admonitionblock td.icon .icon-note::before {
  color: var(--tertiarycolor);
}
.admonitionblock td.icon .icon-important::before {
  color: var(--linkcolor);
}
/*.admonitionblock td.icon .icon-caution::before {
  color: var(--linkcoloralternate);
}*/
.admonitionblock td.icon .icon-warning::before {
  color: var(--primarycolor);
}

#preamble > .sectionbody > .paragraph:first-of-type p {
  color: var(--white);
}

.quoteblock blockquote::before {
  color: var(--primarycolor);
}
.quoteblock .attribution cite, .verseblock .attribution cite {
  color: var(--white);
}
.verseblock pre {
  color: var(--white);
}
.quoteblock blockquote, .quoteblock blockquote p {
  color: var(--white);
}

.sidebarblock {
  background: var(--sidebarbackground);
}
.literalblock pre, .listingblock pre:not(.highlight), .listingblock pre[class="highlight"], .listingblock pre[class^="highlight "], .listingblock pre.CodeRay, .listingblock pre.prettyprint {
  background: var(--sidebarbackground);
  color: var(--white);
}

#header .details {
  color: var(--white);
}
#header .details span.email a {
  color: var(--linkcoloralternate);
}

a {
    color: var(--tertiarycolor);
}