/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: #202020;
  color: lightgray;
}

/* Wrapper for page content to push down footer */
#wrap {
  background-color: #202020;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

.button {
  background-color: #202020;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  background-color: #202020;
  height: 60px;
}
#footer {
  background-color: #202020;
  padding: 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    background-color: #202020;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  background-color: #202020;
  padding-top: 60px;
}
.container .credit {
  background-color: #202020;
  margin: 20px 0;
}

/*code {
  font-size: 80%;
}*/

.navbar-custom {
  background-color: #202020;
}

.profile-image {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
}

.techlogo {
  max-height: 1.2em;
  border-top: 5px;
  border-bottom: 5px;
  border: white;
}

.contentblock {
  max-width: 1000px;
}